<%= form_for @sub_cast do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subcast_name %><br />
    <%= f.text_field :subcast_name %>
  </p>
  <p>
    <%= f.label :subcast_des %><br />
    <%= f.text_area :subcast_des %>
  </p>
  <p>
    <%= f.label :subcast_active %><br />
    <%= f.check_box :subcast_active %>
  </p>
  <p>
    <%= f.label :references %><br />
    <%= f.text_field :references %>
  </p>
  <p><%= f.submit %></p>
<% end %>
